@use "@/u" as u;

.root {
  flex-grow: 1;
  flex-shrink: 0;

  display: grid;
  padding: u.rem(20);
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  background: rgb(var(--p-bg-primary-1100));
}

.graph {
}
